@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 220 36.5854% 8.0392%;
    --foreground: 187 100% 91.9608%;

    --card: 219 38.9831% 11.5686%;
    --card-foreground: 187 100% 91.9608%;

    --popover: #121A29;
    --popover-foreground: 187 100% 91.9608%;

    --primary: 266 4% 20.8%;
    --primary-foreground: 187 100% 91.9608%;

    --secondary: 280 60.6299% 49.8039%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 29.4118% 23.3333%;
    --muted-foreground: 199 40.2844% 58.6275%;

    --accent: 283 100% 56.2745%;
    --accent-foreground: 0 0% 100%;

    --destructive: 338 100% 68.0392%;
    --destructive-foreground: 0 0% 100%;

    --border: 207 42.8571% 28.8235%;
    --input: 218 26.7327% 19.8039%;
    --ring: 180 100% 50%;

    --radius: 0.375rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 265 4% 12.9%;

    --sidebar-primary: 266 4% 20.8%;

    --sidebar-primary-foreground: 248 0.3% 98.4%;

    --sidebar-accent: 248 0.7% 96.8%;

    --sidebar-accent-foreground: 266 4% 20.8%;

    --sidebar-border: 256 1.3% 92.9%;

    --sidebar-ring: 257 4% 70.4%;

    --chart-1: 41 22.2% 64.6%;

    --chart-2: 185 11.8% 60%;

    --chart-3: 227 7% 39.8%;

    --chart-4: 84 18.9% 82.8%;

    --chart-5: 70 18.8% 76.9%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 220 36.5854% 8.0392%;
    --foreground: 248 0.3% 98.4%;

    --card: 219 38.9831% 11.5686%;
    --card-foreground: 248 0.3% 98.4%;

    --popover: 266 4% 20.8%;
    --popover-foreground: 248 0.3% 98.4%;

    --primary: 180 100% 50%;
    --primary-foreground: 277 100% 59.4118%;

    --secondary: #9932CC;
    --secondary-foreground: 248 0.3% 98.4%;

    --muted: 187 100% 91.9608%;
    --muted-foreground: 199 40.2844% 58.6275%;

    --accent: 283 100% 56.2745%;
    --accent-foreground: 248 0.3% 98.4%;

    --destructive: #FF5C99;
    --destructive-foreground: 248 0.3% 98.4%;

    --border: 207 42.8571% 28.8235%;
    --input: 218 26.7327% 19.8039%;
    --ring: 264 2.7% 55.1%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 248 0.3% 98.4%;
    --sidebar-primary: 264 24.3% 48.8%;
    --sidebar-primary-foreground: 248 0.3% 98.4%;
    --sidebar-accent: 260 4.1% 27.9%;
    --sidebar-accent-foreground: 248 0.3% 98.4%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 264 2.7% 55.1%;
    --chart-1: 264 24.3% 48.8%;
    --chart-2: 162 17% 69.6%;
    --chart-3: 70 18.8% 76.9%;
    --chart-4: 304 26.5% 62.7%;
    --chart-5: 16 24.6% 64.5%;
    --sidebar: 266 4% 20.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
